* {
    margin: 5;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: purple;
}

h2 {
    color:blue;

}

.title {
    background: blueviolet;
    color:burlywood;
    padding: 15px;
}